* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
  border: 1px solid;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.main form button {
  width: 96%;
}

.main form input[type="file"] {
  display: none;
}

.main form #name {
  width: 96%;
  padding: 5px;
  border-radius: 4px;
  border: solid 1px #ced4da;
  outline: none;
}

.main form label {
  cursor: pointer;
}

#label-file {
  width: 96%;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}